.DS_Store
cmake_install.cmake
CMakeCache.txt
Makefile
.vscode/settings.json
CMakeFiles/cmake.check_cache
CMakeFiles/CMakeDirectoryInformation.cmake
CMakeFiles/CMakeError.log
CMakeFiles/CMakeOutput.log
CMakeFiles/Makefile.cmake
CMakeFiles/Makefile2
CMakeFiles/progress.marks
CMakeFiles/TargetDirectories.txt
CMakeFiles/3.22.0/CMakeCCompiler.cmake
CMakeFiles/3.22.0/CMakeCXXCompiler.cmake
CMakeFiles/3.22.0/CMakeDetermineCompilerABI_C.bin
CMakeFiles/3.22.0/CMakeDetermineCompilerABI_CXX.bin
CMakeFiles/3.22.0/CMakeSystem.cmake
CMakeFiles/3.22.0/CompilerIdC/CMakeCCompilerId.c
CMakeFiles/3.22.0/CompilerIdC/CMakeCCompilerId.o
CMakeFiles/3.22.0/CompilerIdCXX/CMakeCXXCompilerId.cpp
CMakeFiles/3.22.0/CompilerIdCXX/CMakeCXXCompilerId.o
CMakeFiles/date.dir/build.make
CMakeFiles/date.dir/cmake_clean.cmake
CMakeFiles/date.dir/compiler_depend.make
CMakeFiles/date.dir/compiler_depend.ts
CMakeFiles/date.dir/depend.make
CMakeFiles/date.dir/DependInfo.cmake
CMakeFiles/date.dir/flags.make
CMakeFiles/date.dir/link.txt
CMakeFiles/date.dir/progress.make
CMakeFiles/date.dir/src/date.cpp.o
CMakeFiles/date.dir/src/date.cpp.o.d
CMakeFiles/date.dir/src/main.cpp.o
CMakeFiles/date.dir/src/main.cpp.o.d
date
CMakeFiles/date.dir/compiler_depend.internal
